

# Practical_1: Variables and Assignments

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [3]:
x =10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [4]:
is_valid = True

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [5]:
name = "Python Programming"

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [6]:
sum_result = 5 + 3

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [9]:
a , b ,c = 5,10,15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [10]:
x = y = 20

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [11]:
gravity = 9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [12]:
country = "Malaisie"

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [13]:
age = 25
age =26
age

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [14]:
soustract = 20 - 7
soustract

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [16]:
x_1 = 25
x_2 = 15.6

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [17]:
is_completed = False

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [25]:
x = 3
y =9
tp = x
x = y 
y = tp

x , y

(9, 3)

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [26]:
complex_num = 3 + 4j

### Exercise 15:
Reassign a variable from an integer to a string.

In [29]:
tr = 26
tr = str(tr)
tr
type(tr)

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [30]:
first_name = "Fatoumata"
last_name = "Sane"

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [31]:
temperature = 35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [32]:
product = 8 * 6
product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [34]:
sentence = "Khadija et Ndeye Binta sont trop Belle."
sentence

'Khadija et Ndeye Binta sont trop Belle.'

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [35]:
tst = str('50')
tst = int(tst)
tst

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [36]:
quotient = 144/12
quotient

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

In [40]:
remainder = 47%5
remainder

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [38]:
is_student = True
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [42]:
modulo = 45 % 4
modulo

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [43]:
pi = 3.14159
pi

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [45]:
length = 10
width = 5
rectangle = length * width
rectangle

50

### Exercise 27:
Assign a negative number to a variable `negative_value`.

In [46]:
negative_value = -25
negative_value

-25

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [47]:
greeting = "Hello, World" 
greeting

'Hello, World'

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [48]:
population = 7000000000
population

7000000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

In [50]:
power = 2**8
power

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

In [51]:
fruits = ["Banane","Mangue","Orange"]
fruits

['Banane', 'Mangue', 'Orange']

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

In [55]:
coordinates = (1,2,3,8)
print(coordinates)
type(coordinates)

(1, 2, 3, 8)

tuple

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

In [56]:
person = {"name": "Fatoumata Sane", "age": "23"}
type(person)

dict

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [57]:
sum_float = 15.5 + 2.8
sum_float

18.3

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

In [58]:
is_sunny = (10 > 5)
is_sunny

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [62]:
tf = 23
tg = 'fsa'
print(tf,tg)

23 fsa

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [63]:
bool_num = 9
bool_num = bool(bool_num)
bool_num

True

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

In [64]:
is_weekend = False
is_weekend

False

### Exercise 39:
Assign a multi-line string to a variable `description`.

In [72]:
description = '''Fatima suis un Master en data science. 
Actuellement elle est loge a Mbour. 
Elle descend a 20h30 chaque jour.

'''
print(description)

Fatima suis un Master en data science.
Actuellement elle est loge a Mbour.
Elle descend a 20h30 chaque jour.

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

In [73]:
absolu_val = abs(-25)
print(absolu_val)

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

In [74]:
floor_div_result = 100//6
print(floor_div_result)

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

In [75]:
mixed_sum = 12 + 8.5
print(mixed_sum)

20.5

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

In [76]:
a = 10
b = 15
c = (b < a)
print(c)

False

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

In [77]:
sf = "abcdefghijklmnop"
g = len(sf)
print(g)

16

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

In [79]:
division_result = 7/3
print(division_result)

2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

In [83]:
speed = '100' + 'km/gh'
print(speed)

100km/gh

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [81]:
x = 4
y = 3*x + 5
print(y)

17

### Exercise 48:
Use variables to calculate and store the average of three numbers.

In [84]:
n1 = 20
n2 = 8
n3 = 9
var = (n1+n2+n3)/3
print(var)

12.333333333333334