# Practical_3: Iterable objects or Containers

### Exercise 1:
Create a list of integers from 1 to 10.

In [1]:
lists = [1,2,3,4,5,6,7,8,9,10]
lists

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [2]:
Tuples = ("apple","banana","cherry")
Tuples

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [3]:
numbers = [10, 20, 30, 40]
tuples = tuple(numbers)
tuples
type(tuples)

tuple

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [4]:
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [5]:
student = {"name": "Alice","age": 20,"grade":"A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [6]:
liste = [10, 20, 30, 40, 50]
liste[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [7]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [8]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [9]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

In [10]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [11]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [12]:
even_numbers = tuple(x for x in range(2, 11) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [13]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [15]:
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print("3 exists in the set.")
else:
    print("3 does not exist in the set.")

3 exists in the set.

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [16]:
numbers = (10,20,30)
length = len(numbers)
length

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [17]:
scores = [80,85,90,95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [18]:
def sum_list(elements):
    total = 0
    for item in elements:
        total += item
    return total

In [19]:
my_list = [1, 2, 3, 4, 5]
result = sum_list(my_list)
print("Sum:", result)

Sum: 15

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [25]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [20]:
string = "hello"
liste = list(string)
liste

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [22]:
tuples = (1, 2, 3, 4)
inv_tuple = tuples[::-1]
inv_tuple

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [24]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict3 = dict1 |  dict2
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [ ]:
dict1 = {"1": 1**2, "2":2**2,"3"}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

### Exercise 42:
Write a Python program that checks if a tuple is empty.

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.


### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.


### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.



### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.



### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.



### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.



### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.



### Exercise 62:
Write a Python program that calculates the average of a list of numbers.



### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.



### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.



### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.



### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.



### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.



### Exercise 68:
Write a Python function that flattens a nested list.


### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.


### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.



### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.



### Exercise 72:
Write a Python program that counts the number of vowels in a string.



### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.



### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---